<p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></p>

<p><%= portfolio_item.subtitle %></p>

<p><%= portfolio_item.body %></p>

<%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
<!-- nil = 0, in other words, empty or null i guess-->

<%= link_to "Edit", edit_portfolio_path(portfolio_item.id) if logged_in?(:site_admin) %>
<!-- same as
<a href="/portfolios/<%= portfolio_item %>">Edit2</a>
-->

<%= link_to "Delete portfolio item", portfolio_path(portfolio_item), method: :delete, data: {confirm: 'Are you sure?'} if logged_in?(:site_admin) %>